[build-system]
build-backend = "setuptools.build_meta"
requires = [
  "setuptools>=61",
]

[project]
name = "package-name-to-install-with"
description = "A small example package"
keywords = [
  "development",
  "packaging",
  "sample",
  "setuptools",
]
license = { text = "mit" } # license = { file = "LICENSE.txt" }
maintainers = [
  { name = "Anirban Ray" },
  { email = "39331844+yarnabrina@users.noreply.github.com" },
  { name = "First Maintainer", email = "first.maintainer@example.com" },
  { name = "Second Maintainer", email = "second.maintainer@example.com" },
]
authors = [
  { name = "Anirban Ray" },
  { email = "39331844+yarnabrina@users.noreply.github.com" },
  { name = "First Author", email = "first.author@example.com" },
  { name = "Second Author", email = "second.author@example.com" },
]
requires-python = ">=3.10"
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Framework :: Flake8",
  "Framework :: Pytest",
  "Framework :: Sphinx",
  "Intended Audience :: Developers",
  "License :: OSI Approved",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Topic :: Software Development",
  "Topic :: Software Development :: Build Tools",
  "Topic :: Software Development :: Libraries",
  "Topic :: Utilities",
  "Typing :: Typed",
]
dynamic=[
  "readme",
  "version",
]
dependencies = [
  "PySimpleGUI",
]
[project.optional-dependencies]
all = [
  "autoflake",
  "bandit",
  "black",
  "blacken-docs",
  "build",
  "codespell",
  "coverage[toml]",
  "docformatter[tomli]",
  "flake8",
  "furo",
  "hypothesis[pytest]",
  "interrogate",
  "isort",
  "mypy",
  "nox",
  "pre-commit",
  "pydocstyle[toml]",
  "pylint",
  "pyproject-fmt",
  "pyright",
  "pytest",
  "pyupgrade",
  "Sphinx",
  "sphinx-copybutton",
  "twine",
  "validate-pyproject",
  "vulture",
]
dev = [
  "codespell",
  "nox",
  "pre-commit",
]
doc = [
  "furo",
  "Sphinx",
  "sphinx-copybutton",
]
format = [
  "autoflake",
  "black",
  "blacken-docs",
  "docformatter[tomli]",
  "isort",
  "pyproject-fmt",
  "pyupgrade",
]
lint = [
  "bandit",
  "flake8",
  "interrogate",
  "mypy",
  "pydocstyle[toml]",
  "pylint",
  "pyright",
  "validate-pyproject",
  "vulture",
]
release = [
  "build",
  "twine",
]
test = [
  "coverage[toml]",
  "hypothesis[pytest]",
  "pytest",
]
[project.urls]
"Bug Tracker" = "https://github.com/yarnabrina/learn-python-packaging/issues"
"Documentation" = "https://learn-python-packaging.readthedocs.io"
"Source Code" = "https://github.com/yarnabrina/learn-python-packaging"
[project.scripts]
console-calculator = "module_that_can_be_invoked_from_cli:console_calculator"
[project.gui-scripts]
gui-calculator = "module_that_can_invoke_gui_from_cli:gui_calculator"

[tool.setuptools]
py-modules = [
  "module_that_can_be_imported_directly",
  "module_that_can_be_invoked_from_cli",
  "module_that_can_invoke_gui_from_cli",
]

[tool.setuptools.dynamic]
version = { attr = "package_name_to_import_with.__version__" }
readme = { file = "README.md", content-type = "text/markdown" }

[tool.setuptools.packages.find]
where = [
  "src",
]
include = [
  "package_name_to_import_with*",
]
exclude = [
  "*tests*",
]
namespaces = false

[tool.setuptools.package-data]
"package_name_to_import_with" = [
  "metadata.json",
  "py.typed",
]

[tool.setuptools.exclude-package-data]
"*" = [
  ".gitattributes",
  ".gitignore",
]

[tool.black]
line-length = 99
target-version = [
  "py310",
]
safe = true

[tool.isort]
overwrite_in_place = true
profile = "black"
atomic = true
float_to_top = true
line_length = 99
remove_redundant_aliases = true
src_paths = "src"
py_version = 310

[tool.pytest.ini_options]
addopts = "--junit-xml=pytest_junit_report.xml --doctest-modules --doctest-ignore-import-errors --doctest-continue-on-failure"
console_output_style = "count"

[tool.coverage.run]
branch = true
command_line = "--module pytest"
data_file = "coverage_data"
include = [
  "src/**/*.py",
]
omit = [
  "**/tests/*.py",
]

[tool.coverage.report]
fail_under = 80
include = [
  "src/**/*.py",
]
omit = [
  "src/module_that_can_invoke_gui_from_cli.py",
  "**/tests/*.py",
]
precision = 2
exclude_lines = [
  "pragma: no cover",
  "if __name__ == .__main__.:",
  "if typing.TYPE_CHECKING:",
]

[tool.coverage.html]
directory = "coverage_html_report"

[tool.coverage.xml]
output = "coverage_xml_report.xml"

[tool.mypy]
files = [
  "src",
]
exclude = [
  "conftest",
  "test_",
]
ignore_missing_imports = true
strict = true

[tool.autoflake]
in-place = true
remove-all-unused-imports = true
recursive = true
expand-star-imports = true
ignore-init-module-imports = true
remove-duplicate-keys = true
remove-unused-variables = true

[tool.docformatter]
in-place = true
recursive = true
wrap-summaries = 99
wrap-descriptions = 99

[tool.interrogate]
fail-under = 80
ignore-init-method = true

[tool.pydocstyle]
convention = "numpy"

[tool.pylint.main]
fail-under = 8.0
jobs = 0
recursive = true

[tool.pylint.basic]
include-naming-hint = true

[tool.pylint.format]
max-line-length = 99

[tool.pylint.logging]
logging-format-style = "new"

[tool.pylint."messages control"]
enable = [
  "all",
]

[tool.pylint.reports]
output-format = "colorized"

[tool.pyright]
include = [
  "src",
]
exclude = [
  "**/tests/*.py",
]
reportMissingImports = false

[tool.ruff]
extend-exclude = [
  "*.pyi",
]
fix = true
format = "grouped"
ignore = [
  "ANN401",
  "D203",
  "D213",
  "TRY003",
]
ignore-init-module-imports = true
line-length = 99
select = [
  "F",
  "E",
  "W",
  "C90",
  "I",
  "N",
  "D",
  "UP",
  "ANN",
  "S",
  "B",
  "A",
  "C4",
  "T10",
  "ISC",
  "G",
  "T20",
  "PT",
  "Q",
  "SIM",
  "TID",
  "ERA",
  "PD",
  "PGH",
  "PL",
  "TRY",
  "RUF",
]
src = [
  "src",
]
target-version = "py310"

[tool.ruff.per-file-ignores]
"**/test_*.py" = [
  "S101",
]

[tool.vulture]
min_confidence = 100
paths = [
  "src",
]
